@font-face {
    font-family: "pacific";
    src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "sans";
    src: url("../fonts/SourceSans3-Italic-VariableFont_wght.ttf");
}

h1,h2,h3,h4,h5 {
    font-family: "pacific";
}
p,a{
    font-family: "sans";
}

header{
    background-color: black;
    border-bottom: 4px solid #eb9918;
}

header nav ul li a{
    font-size: 12px;
    color: #eb9918;
    transition:all 2s ;
    padding: 10px;
}

header nav ul li a:hover{
    border-top: 1px solid #eb9918;
    border-bottom: 1px solid #eb9918;
    /* border: 1px solid #eb9918; */
}

header nav ul li .active{
    border-top: 1px solid #eb9918;
    border-bottom: 1px solid #eb9918;
}

section:nth-of-type(1), section:nth-of-type(3){
    height: 100vh;   
	background-color: #eb9918;
    background-size:cover;     
    background-attachment: fixed; /* parallax */
    background-position: center top;    
}
section:nth-of-type(1){
    background-image: url("../img/index_1.jpg");
}
section:nth-of-type(3){
    background-image: url("../img/index_2.jpg");
}

section:nth-of-type(1) article, section:nth-of-type(3) article{ 
    color: chocolate;        
}

section:nth-of-type(1) article h2,section:nth-of-type(3) article h2{
    border-bottom:1px solid chocolate;
}

section:nth-of-type(2) article:nth-of-type(1){
    background-color: #eb9918;
}
section:nth-of-type(2) article:nth-of-type(1) h2{
    color: white;
}
section:nth-of-type(2) article a{
    border: 1px solid #eb9918; 
    color: #eb9918;
}

section:nth-of-type(2) article a:hover{
    color: crimson;
}

section:nth-of-type(4) h3{
    color: #eb9918;
    border-bottom: 1px solid #eb9918;
}


footer{
    background-color: black;
    color: whitesmoke;
}
footer h5{
    border-bottom: 1px solid whitesmoke;
}

footer textarea{
    resize: none;
}

footer nav{
    background-color: #eb9918;
}

footer nav ul li{
    border:1px solid white;
    border-radius: 50%;
}